
   html,body{
    margin: 0px;
    padding: 0px;
   
   }

   #navbar li{
    list-style:none;
   margin: 15px 0px;  

 }
 #navbar li a{ 
    text-decoration: none;
    color:white;
    font-family: sans-serif ,sans;
    background-color:black;
    font-weight: bold;
     border-radius:4px;
     font-size: .8rem;
  }
  .primary {
    display: block;
    margin: auto;
    color: white;
    width: 312px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
  #navbar img{
    height: 40px;
    width: 50px;
  
    cursor: pointer;
    
  
  }
   .btn{
    display: none;
   }
   #heading{
    display: none;
   }
.content .box h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
    font-size: 1.1rem;
}
.content .box p {
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
}
.content .box img {
    height: 3rem;
    width: 9rem;
    display: flex;
    align-self: center;
    margin-top: 0.2rem;
}
.content .box {
    height: 15rem;
    width: 20rem;

    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-self: center;
    margin: 0px 2px;
    justify-content: center;
}
.container input{
    width: 250px;
  }
  .container textarea{
    width: 250px;
    height: 150px;
  }
  .container label{
    display: flex;
    flex-direction: column;
   
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  .container button{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  margin-left: 5.5rem;;
  background-color: #fff;
  color: black;
  border: 2px solid red;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer span{
    font: .8em sans-serif;
}
#popup{
  display: none;
  border: 2px soolid black;
  background-color:rgb(217, 169, 169);
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 13rem;
  left:8rem;
  /* justify-content: center; */
  /* justify-self: center; */
  /* justify-content:first baseline; */
  flex-direction: column;
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#popup h1{
  text-align: center;
  font-size: .7rem;
}
#popup a{
  display: flex;
  align-self: center;
  border: 2px solid green;
  background-color: green;
  color: white;
  width: 5.5rem;
  height: 1.2rem;
  margin: .24rem;
  text-align: center;
  font-family: cursive;
  text-decoration: none;
}
#popup h1{
  
  color: black;
}
#popup p{
  text-align: center;
  margin-bottom: 0;
  margin-top: .3rem;
  font-size: .6rem;

}
#cross{
  display: flex;
  align-self: flex-end;
  width: 1rem;

  margin-right: .1rem;
  justify-content: center;
 background-color:black;
 color: white;
}
